<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="PhoneSong">
	<resultMap id="phoneSongMap" type="cn.aozhi.app.domain.phone_song.PhoneSong">
		<id property="id" column="id"/>
		<result property="phoneId" column="phoneId" />
		<result property="songId" column="songId" />
		<result property="createDate" column="createDate" />
	</resultMap>
	
	<sql id="base_column">
		id,phoneId,songID,createDate
	</sql>
	
	<!-- 插入记录 -->
	 <insert id="insert" parameterType="cn.aozhi.app.domain.phone_song.PhoneSong">
		insert into t_phone_song(
			id,phoneId,songId,createDate
		)values(
			#{id},
			#{phoneId},
			#{songId},
			#{createDate}
		)
		<!-- 返回自动增长的主键id -->
		<!-- 
		<selectKey resultType="java.lang.Integer" keyProperty="id">
			select @@IDENTITY as id
		</selectKey>
		 -->
	</insert>

	<!-- 根据id查找 -->
	<select id="selectById" parameterType="string" resultMap="phoneSongMap">
		SELECT 
		<include refid="base_column"/>
		FROM 
		t_phone_song
		WHERE 
		id = #{id}
	</select>
		
	
	<!-- 更新 -->
	<update id="update" parameterType="cn.aozhi.app.domain.phone_song.PhoneSong">
		update t_phone_song set phoneId=#{phoneId},songId=#{songId},createDate=#{createDate} where id=#{id}
	</update>
		
	<!-- 根据id删除 -->	
	<delete id="delete" parameterType="string">
		DELETE FROM t_phone_song WHERE id = #{id}
	</delete>
	
	<!-- 数据列表 -->
	<select id="list" resultMap="phoneSongMap">
		SELECT * FROM t_phone_song
	</select>	
	
	 <!-- 数据列表（分页） -->
	<select id="findPage" parameterType="map" resultMap="phoneSongMap">
		SELECT * FROM t_phone_song limit #{startIndex},#{pageSize}
	</select>
	
	<!-- 总数统计 -->
	<select id="findPageCount" resultType="int">
		SELECT COUNT(*) FROM t_phone_song
	</select>
	
</mapper>
