<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="RoleMenu">
	<resultMap id="roleMenuMap" type="cn.aozhi.app.domain.role_menu.RoleMenu">
		<id property="id" column="id"/>
		<result property="roleId" column="roleId" />
		<result property="menuId" column="menuId" />
	</resultMap>
	
	<sql id="base_column">
		id,roleId,menuId
	</sql>
	
	<!-- 插入记录 -->
	 <insert id="insert" parameterType="cn.aozhi.app.domain.role_menu.RoleMenu">
		insert into t_role_menu(
			id,roleId,menuId
		)values(
			#{id},
			#{roleId},
			#{menuId}
		)
		<!-- 返回自动增长的主键id -->
		<!-- 
		<selectKey resultType="java.lang.Integer" keyProperty="id">
			select @@IDENTITY as id
		</selectKey>
		 -->
	</insert>

	<!-- 根据id查找 -->
	<select id="selectById" parameterType="string" resultMap="roleMenuMap">
		SELECT 
		<include refid="base_column"/>
		FROM 
		t_role_menu
		WHERE 
		id = #{id}
	</select>
		
	
	<!-- 更新 -->
	<update id="update" parameterType="cn.aozhi.app.domain.role_menu.RoleMenu">
		update t_role_menu set userId=#{userId},roleId=#{roleId} where id=#{id}
	</update>
		
	<!-- 根据id删除 -->	
	<delete id="delete" parameterType="string">
		DELETE FROM t_role_menu WHERE id = #{id}
	</delete>
	
	
		<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.List">  
	    DELETE FROM t_role_menu WHERE id IN  
	    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">   
	        #{item}
	    </foreach>  
	</delete>  
	
	
	<!-- 批量查询 -->
	<select id="batchSelect" parameterType="java.util.List"  resultMap="roleMenuMap">  
	    select 
	    <include refid="base_column"/>
	    FROM t_role_menu WHERE roleId IN  
	    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">   
	        #{item}
	    </foreach>  
	</select>  
	
	
	<!-- 数据列表 -->
	<select id="selectByRoleId" parameterType="string" resultMap="roleMenuMap">
		SELECT * FROM t_role_menu WHERE roleId = #{roleId}
	</select>	
	
	
	<!-- 数据列表 -->
	<select id="list" resultMap="roleMenuMap">
		SELECT * FROM t_role_menu
	</select>	
	
	 <!-- 数据列表（分页） -->
	<select id="findPage" parameterType="map" resultMap="roleMenuMap">
		SELECT * FROM t_user_role limit #{startIndex},#{pageSize}
	</select>
	
	<!-- 总数统计 -->
	<select id="findPageCount" resultType="int">
		SELECT COUNT(*) FROM t_user_role
	</select>
	
</mapper>
